<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>m<i class="fas fa-play-circle"></i>search</i></h1>
        <p>Welcome to the World's largest handpicked movie database</p>
    </div>
    <hr class="style14">
    <div id="landing-container">
        <h3>Let's search some movies!</h3>
        <a href="/search" class="btn btn-primary btn-lg" id="landing-search"><i class="fas fa-play"></i>  Search</a>
    </div>
</div>

<% include partials/footer %>