<% include partials/header %>
    <div class="container">
        <h1>Welcome to results page</h1>
            <div class="row" id="movies">
                <% data["Search"].forEach( function (movies) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src=<%= movies["Poster"] %>>
                        <div class="caption">
                            <p><%= movies["Title"] %></p>
                            <p><%= movies["Year"] %></p>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
    </div>
<% include partials/footer %>